@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/* breakpoints */
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;

/* colors */
$darkBlue: #374988;
$text: #585a61;
$heading: #353841;

@mixin mq($size) {
  @media (min-width: $size) {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1440px;
}

body {
  font-family: 'Lato', sans-serif;
}

p {
  color: $text;
  line-height: 24px;
}

h2,
h3,
h4,
h5,
h6 {
  color: $heading;
}

.hero {
  text-align: center;
  width: 100%;
  margin-bottom: 5rem;

  h1 {
    color: $darkBlue;
    max-width: 350px;
    margin: 0 auto;
  }

  &__content {
    * + * {
      margin-top: 1rem;
    }
  }

  &__image {
    display: block;
    width: 100%;
  }

  &__btns {
    img {
      width: 100%;
      max-width: 292px;

      &:nth-child(1) {
        transform: scale(0.9);
      }
    }
  }
}

@include mq($md) {
  .hero {
    display: flex;
    align-items: center;

    &__image {
      order: 2;
      width: 100%;
      flex: 1 1 0px;
    }

    &__content {
      text-align: left;
      order: 1;
      flex: 1 1 0px;

      h1 {
        font-size: 38px;
        margin: 0;
      }
    }

    &__btns {
      display: flex;
      align-items: center;
      justify-content: center;
      // max-width: 300px;

      img {
        width: 100%;
        // width: 292px;

        // &:nth-child(1) {
        //   transform: scale(0.8);
        // }
      }
    }
  }
}

.features {
  text-align: center;

  > p {
    color: $darkBlue;
  }

  &__item {
    p {
      margin: 0.8rem auto;
      max-width: 320px;
    }

    > div {
      width: 60px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      margin: 0 auto 1.5rem;
    }

    $colors: (
      rgba(71, 55, 136, 0.2),
      rgba(204, 37, 147, 0.2),
      rgba(229, 14, 14, 0.2),
      rgba(8, 150, 65, 0.2)
    );

    @for $i from 1 through 4 {
      &:nth-of-type(#{$i}) {
        > div {
          background: nth($colors, $i);
        }
      }
    }
  }

  &__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 2.5rem;
  }

  & section + section {
    margin-top: 4rem;
  }
}

@include mq($md) {
  h2 {
    font-size: 32px;
    max-width: 600px;
    margin: 0 auto;
  }

  h3 {
    font-size: 24px;
  }

  p {
    font-size: 18px;
  }
}

.features__list {
  &__item {
    img {
      display: block;
      width: 50%;
      margin: auto;
      max-width: 500px;
    }

    &__content {
      margin: auto;
      max-width: 400px;

      h3 {
        margin-bottom: 1.5rem;
      }
    }
  }

  &__item + &__item {
    margin-top: 4rem;
  }

  @include mq($md) {
    &__item {
      display: flex;
      align-items: center;
      gap: 20px;

      &__content {
        text-align: left;
        h3 {
          font-size: 32px;
        }
        p {
          font-size: 18px;
        }
        max-width: 500px;
      }

      &:nth-child(1),
      &:nth-child(3) {
        div {
          margin-right: 0;
        }

        img {
          margin-left: 0;
        }
      }

      &:nth-child(2),
      &:nth-child(4) {
        div {
          order: 1;
          margin-left: 0;
        }

        img {
          order: 2;
          margin-right: 0;
        }
      }
    }
  }
}
