@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body {
  font-family: 'Lato', sans-serif;
}

.link {
  height: 194px;
  background: rgba(244, 212, 227, 0.15);
  /* background: #000; */
  border-radius: 8px;
}

.link:nth-child(2) {
  background: rgba(207, 226, 236, 0.15);
}

.link:nth-child(2) .icon {
  background: #cfe2ec;
}

.link:nth-child(3) {
  background: rgba(254, 237, 211, 0.15);
}

.link:nth-child(3) .icon {
  background: #feedd3;
}

.icon {
  background: rgba(244, 212, 227, 1);
}
